

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbfbe5;
    
}

.card-container{
    
    width: 90%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;   
}

.input-container input{
    border: 0;
    outline: 0;
    border-bottom: 3px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

#input-button {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 20%;
}

button{
    cursor: pointer;
}




#allRemove{
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 20%;
}

.task-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;

}
#task-list{
    width: 90%;
    padding: 10px;
}

#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.task{
    font-size: 15pt;
}

h3{
    cursor: pointer;
    font-size: 13pt;
}
h3:hover{
    
    color: red;
}
